
      .gwd-div-4e9q {
        position: absolute;
        width: 774.8px;
        height: 767.24px;
        background-color: rgb(252, 230, 244);
      }
      .gwd-div-7pr3 {
        position: absolute;
        width: 64.25px;
        height: 767.24px;
        background-color: rgb(255, 255, 255);
        left: 0px;
        top: 0px;
      }
      .gwd-div-ad25 {
        position: absolute;
        width: 80px;
        height: 767.24px;
        background-color: rgb(255, 255, 255);
        left: 711px;
        top: 0px;
      }
      .gwd-div-mgqn {
        position: absolute;
        width: 648px;
        height: 30.36px;
        left: 64px;
        top: 0px;
        background-color: rgb(255, 255, 255);
      }
      .gwd-div-xkas {
        position: absolute;
        width: 648px;
        height: 18.89px;
        background-color: rgb(255, 255, 255);
        left: 63px;
        top: 748px;
      }
      .gwd-div-wap7 {
        position: absolute;
        width: 22.67px;
        height: 718px;
        left: 64px;
        top: 30px;
        background-color: rgb(255, 0, 0);
      }
      .gwd-div-vrq4 {
        width: 22.65625px;
        left: 688px;
        top: 30px;
      }
      .gwd-div-bfhz {
        position: absolute;
        width: 601px;
        height: 136.06px;
        left: 87px;
        top: 30px;
      }
      .gwd-div-okiy {
        position: absolute;
        width: 602px;
        height: 148px;
        font-family:'Times New Roman';
        text-align: left;
        color: rgb(0, 0, 0);
        left: 86px;
        top: 33px;
      }
      .gwd-div-ok0v {
        text-align: center;
      }
      .gwd-span-g1zd {
        font-size: 24px;
        font-weight: bold;
      }
      .gwd-div-9vkf {
        text-align: center;
      }
      .gwd-div-gbbf {
        text-align: center;
      }
      .gwd-span-7v68 {
        font-weight: bold;
        font-size: 18px;
      }
      .gwd-div-07lm {
        text-align: center;
      }
      .gwd-div-11j4 {
        text-align: center;
      }
      .gwd-div-akd5 {
        text-align: center;
      }
      .gwd-div-xp26 {
        text-align: center;
      }
      .gwd-span-jzhv {
        font-size: 24px;
        font-weight: bold;
      }
      .gwd-div-bsye {
        text-align: center;
      }
      .gwd-div-skxr {
        text-align: center;
      }
      .gwd-span-aknl {
        font-weight: bold;
      }
      .gwd-div-4fdg {
        text-align: center;
      }
      .gwd-div-8vun {
        text-align: center;
      }
      .gwd-div-7d98 {
        text-align: center;
      }
      .gwd-div-pnco {
        position: absolute;
        width: 140px;
        height: 34px;
        left: 325px;
        top: 160px;
        background-image: none;
      }
      .gwd-div-iyr2 {
        position: absolute;
        width: 100px;
        height: 24px;
        left: 325px;
        top: 160px;
        font-family:'Times New Roman';
        text-align: left;
        color: rgb(0, 0, 0);
      }
      .gwd-div-duqj {
        text-align: center;
      }
      .gwd-span-t8na {
        font-weight: bold;
      }
      .gwd-div-ijs5 {
        position: absolute;
        width: 98px;
        height: 94px;
        left: 94px;
        top: 63px;
        background-color: rgb(204, 204, 204);
      }
      .gwd-div-zpzs {
        position: absolute;
        width: 587px;
        height: 144px;
        left: 92px;
        top: 187px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid;
        padding: 5px;
      }
      .gwd-div-3fgs {
        position: absolute;
        width: 583px;
        height: 300px;
        background-image: none;
        left: 93px;
        top: 347px;
      }
      .gwd-div-2q43 {
        position: absolute;
        width: 55px;
        height: 30px;
        left: 93px;
        top: 347px;
        vertical-align: middle;
        border: 1px solid rgb(0, 0, 0);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        text-align: center;
        line-height: 30px;
      }
      .gwd-div-2xhs {
        width: 378px;
        left: 159px;
        top: 347px;
      }
      .gwd-div-zgeo {
        width: 130px;
        left: 549px;
        top: 348px;
      }
      .gwd-div-djwk {
        width: 55px;
        height: 263px;
        left: 93px;
        top: 383px;
        background-color: rgb(255, 255, 255);
        padding-left:5px;
        text-align:left;
      }
      .gwd-div-4xa0 {
        width: 375px;
        left: 159px;
        top: 383px;
      }
      .gwd-div-jrjg {
        width: 130px;
        left: 543px;
        top: 383px;
      }
      .backfill {
        height: 263px;
        background-color: rgb(255, 255, 255);
        width: 130px;
        left: 543px;
        top: 383px;
      }
      .gwd-div-2xhs gwd-div-4xa0 {
        background-color: rgb(255, 255, 255);
        height: 263px;
      }
      .FeeDescription {
        background-color: rgb(255, 255, 255);
        width: 378px;
        left: 159px;
        top: 383px;
        height: 263px;
        padding-left:5px;
        text-align:left;
      }
      .gwd-div-6p1z {
        position: absolute;
        width: 379px;
        height: 110px;
        left: 301px;
        top: 654px;
      }
      .gwd-span-pyfi {
        color: rgb(255, 255, 255);
      }
      .gwd-div-orfk {
        width: 130px;
        height: 71px;
        left: 549px;
        top: 653px;
      }
      .gwd-div-k1pu {
        position: absolute;
        width: 240px;
        height: 84px;
        left: 412px;
        top: 654px;
      }
      .gwd-div-pg9g {
        position: absolute;
        width: 209px;
        height: 42.5px;
        left: 87px;
        top: 695.5px;
        background-image: none;
      }
      .gwd-div-mprf {
        text-align: center;
      }
      .gwd-div-2wyz {
        text-align: center;
      }
      .gwd-body {
        background-color: transparent;
      }
      .gwd-div-ayce {
        left: 548px;
        top: 383px;
        padding-right:5px;
        text-align:right;
      }
      
      
      
      
      
     /* Managing paper size for printing*/
     
     
@page
{
    margin-top:9.5cm;
    margin-bottom:9.5cm;   
}